@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


:root {
    --cor1: #630CF6;
    --cor2: #1F0BD4;
    --cor3: #0027EB;
    --cor4: #0B61D4;
    --cor5: #0CAEF6;

    --font-display: 'Press Start 2P', cursive;
    --font-destaque: 'Fredoka One', cursive;
    --font-padrao: Verdana, Geneva, Tahoma, sans-serif;
}



header {
    background: rgb(31, 11, 212);
    background: radial-gradient(circle, rgba(31, 11, 212, 1) 16%, rgba(0, 39, 235, 1) 83%);
    box-shadow:
        1.5px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        4.9px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        22px 100px 80px rgba(0, 0, 0, 0.07);
}

body {
    margin: 0px;
}


header>h1 {
    padding-top: 2%;
    margin: 0px;
    font-family: var(--font-display);
    font-size: 2.0em;
    color: white;
    text-align: center;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2%;
    text-align: left;
    font-size: 1.3em;
    margin: 2% 30%;
}

nav>a {
    margin: 0% 1%;
    text-decoration: none;
    font-family: var(--font-destaque);
    color: white;
}

a:hover {
    text-decoration: underline;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 700px;
    min-width: 320px;
    margin: 5% auto;
    font-family: var(--font-padrao);
    color: white;
    text-align: justify;
    color: black;
    font-size: 1.1em;

}

main p {
    line-height: 2em;
    ;
}

h1, h2, h3 {
    text-align: left;
    font-size: 2.5em;
}

time {
    font-size: 0.8em;
    color: #031727;

}



img {
    width: 100%;
    display: block;
    margin: auto;
}