@charset "utf-8";

.grid-container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

    grid-template-columns: 1fr 3fr 1fr;
}
